<div id="sidebar">
<button class="sidebar-btn" onclick="visualizzaAttuali()" style="background-color: #cccccc; color: black;" title="Temp attuale">T°C</button>
<button class="sidebar-btn" onclick="visualizzaEstremi('max')" style="background-color: #ff4d4d; color: white;" title="Temp max">MAX</button>
<button class="sidebar-btn" onclick="visualizzaEstremi('min')" style="background-color: #3399ff; color: white;" title="Temp min">MIN</button>
<button class="sidebar-btn" onclick="visualizzaUmidita()" style="background-color: #66ccff; color: white;" title="Umidità">UR%</button>
<button class="sidebar-btn" onclick="visualizzaRaffiche()" style="background-color: #ff9933; color: white;" title="Raffiche">RAF</button>
<button class="sidebar-btn" onclick="visualizzaPioggia()" style="background-color: #3399ff; color: white;" title="Pioggia">MM</button>
<button class="sidebar-btn" onclick="filtraSoloMLG()" style="background-color: #222; color: white;" title="Solo MLG">MLG</button>
<button class="sidebar-btn" onclick="toggleRadar()" style="background-color: #444; color: white;" title="Radar/Satellite">RAD</button>
</div>